*{
    margin: 0;
    padding: 0;
}
.textbox{
    width: 100%;
    height: 800px;
    background: #F0F0F0;
    margin-top:400px;
    .textbox-h1{
        text-align: center;
        line-height: 800px;
        font-size: 140px;
    }
}