*{
    margin:0;
    padding: 0;
}
.bgbox{
    background: #33393E;
    width: 100%;
    height: 134vw;
    overflow: hidden;
    header{
        width: 100%;
        background: red;
      .header-li{
         width: 750px;
        //  height:200px;
         background:#ECECEC;
        //  line-height: 200px;
        //  padding-left: 30px;
        //  border-radius: 25px;
         span{
             padding-left: 70px;
         }
      }
        .header-ul{
            width: 200px;
            /* height: 1000px; */
            background: #F0F0F0;
            position: absolute;
            top: 136px;
            /* left: 80px; */
         .navlinkclick{
            background: #98CCE1;
        }
         li{
             a{
                 display: inline-block;
                 text-decoration: none;
                 color: black;
                 width: 800px;
                 height: 150px;
                 padding: 20px;
                 line-height: 100px;
             }
         }
        }
        .nav-two-ul{
            width: 795px;
            height: 500px;
            background:#ECECEC;
            position: absolute;
            right: 63px;
            
            a{
                display: inline-block;
                text-decoration: none;
                color: black;
                width: 800px;
                height: 150px;
                padding: 20px;
                line-height: 100px;
            }
        }
    }
    .mains{
        width: 96%;
        height: 130vw;
        background:#F0F0F0;
        margin:7px;
        overflow: hidden;
        border-radius: 25px;
        .inputbox{
            width: 80%;
            // height: 200px;
            // background: red;
            margin:20px auto;
            input{
                width: 100%;
                // height: 200px;
                outline: none;
                font-size: 100px;
            }
        }
        .tetxarea-box{
            width: 80%;
        //    height: 500px; 
            margin:20px auto;
            textarea{
                width: 100%;
                border: 1px solid gray;
                color:#9AA6AF; 
            }           
        }
       
        .btn{
            width: 200px;
            height: 50px;
            background:#6CBA21;
            color: white;
            text-align: center;
            line-height: 50px;
            border-radius: 40px;
        }
    }
}